*{
    margin: 0;
    padding: 0;
}
ul{
    background-color: #222121;
    list-style-type: none;
}
li {
    float: left;
}
a{
    display: block;
    padding: 14px, 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
li a:active{
    background-color: #04AA6D;
}
body{
    background-color: aquamarine;
}